* {

    margin: 0;
    padding: 0;

}

.cabecalho-pag1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.logo {
    display: flex;   
    align-items: center;
    color: #F34848;
    font-family: REM;
    font-weight: bold;
}

.logo p {
    width: 10px;
}

.links a {
    color: #F34848;
    font-family: REM;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

.links a:hover {

    opacity: 0.8;
    text-decoration: underline;
}

.merchan {
    background-image: url(/html/assets/unsplash_hrlvr2ZlUNk.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    color: #F34848;
}

.quadrado-merchan {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    background-color: white;
    border-radius: 24px;
}

.conteudo-quadrado-merchan {
    font-family: REM;
    width: 400px;
    margin: 0 auto;
    padding: 60px 0px;
    gap: 50px;
}

.conteudo-quadrado-merchan p {
    color: rgba(0, 0, 0, 0.692);
}

.conteudo-quadrado-merchan > *:not(:last-child) { 
    margin-bottom: 30px; /* Ajuste o valor conforme necessário */ 
}

.conteudo-quadrado-merchan a {
    background-color: white;
    color: #F24434;
    transition: 0.5s;
    border: 1px solid #F24434;
    border-radius: 24px;
    padding: 13px;
    text-decoration: none;
}

.conteudo-quadrado-merchan a:hover {
    background-color: #F24434;
    color: white;
    font-family: REM;
}


@media (max-width:980px) {

    .quadrado-merchan {
        text-align: center;
        width: 400px;
        height: 350px;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
    }

    .merchan {

        background-image: url(/html/assets/unsplash_hrlvr2ZlUNk.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;

    }

    .conteudo-quadrado-merchan {
        width: 300px;
    }

    .conteudo-quadrado-merchan > *:not(:last-child) { 
        margin-bottom: 23px; /* Ajuste o valor conforme necessário */ 
    }

    .fotos-subtitulos{

    }

    .area-topicos{
        
    }

    .conteudo-area-topicos{

    }

}